/* ======================================================
// Drawer
// ------------------------------------------------------ */
.p-drawer {
  --logo-size-max: 136;
  --logo-size-min: 120;
  position: fixed;
  inset: 0;
  translate: 0 0;
  transition: translate var(--duration-default) var(--ease-out-expo);
  z-index: var(--z-index-top-layer);
  overflow: auto;
  &__header {
    inline-size: var(--container);
    block-size: var(--header-size);
    margin-inline: auto;
    display: grid;
    align-items: center;
    grid-template-columns: clamp(
      calc(var(--logo-size-min) * var(--rem)),
      calc(var(--logo-size-min) * var(--fluid-ratio-min)),
      calc(var(--logo-size-max) * var(--rem))
    ) 1fr;
  }

  &__close-button {
    inline-size: max(
      calc(20 * var(--rem)),
      calc(20 * var(--fluid-ratio-min))
    );
    aspect-ratio: 1;
    justify-self: end;
    display: inline-grid;
    align-items: center;
    position: relative;
    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      inset-inline-start: 50%;
      inset-inline-end: 50%;
      translate: -50% -50%;
      inline-size: max(
        calc(28 * var(--rem)),
        calc(28 * var(--fluid-ratio-min))
      );
      block-size: calc(3 * var(--rem));
      background-color: var(--white-color);
    }
    &::before {
      rotate: 45deg;
    }
    &::after {
      rotate: -45deg;
    }
  }

  &__nav {
    margin-block-start: calc(80 * var(--rem));
    margin-block-end: calc(119 * var(--rem));
    inline-size: var(--container);
    margin-inline: auto;
  }

  &__nav-list {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    row-gap: calc(40 * var(--rem));
  }

  &__nav-item {
    inline-size: 100%;
  }

  &__nav-link {
    display: block;
    transition: background-color var(--duration-default) ease;
    &[aria-current="true"]{
      color: var(--color-4);
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: oklch(from var(--white-color) 40% c h)
      }
    }
  }

  &__nav-item-title_ja {
    font-size: clamp(1.25rem, calc(1.011rem + 1.018vw), 1.5rem); /* min: 20px, max: 24px */;
    margin-block: var(--leading-trim);
  }

  &__nav-item-title_en {
    font-family: var(--font-family-Lato);
    font-size: clamp(0.875rem, calc(0.756rem + 0.509vw), 1rem); /* min: 14px, max: 16px */;
    text-transform: uppercase;
    margin-block: var(--leading-trim);
    margin-block-start: calc(8 * 1em / 14);
  }

  &::backdrop {
    translate: 0 0;
    background-color: var(--color-1);
    transition: translate var(--duration-default) var(--ease-out-expo);
  }
  
  &.show-from,
  &.hide-to {
    /* For animation class */
    translate: 100% 0;
    &::backdrop {
      translate: 100% 0;
    }
  }
}