/* ======================================================
// Title
// ------------------------------------------------------ */
.c-section__title {
  display: grid;
  grid-template-columns: auto 1fr;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 1s var(--ease-out-cubic);
  &.show {
    clip-path: inset(0);
  }
}

.c-section__title_en {
  font-family: var(--font-family-Lato);
  letter-spacing: normal;
  font-weight: var(--Lato-Bold);
  font-size: var(--font-size_32_48);
  text-transform: uppercase;
  align-self: end;
  margin-block: var(--leading-trim);
  padding-inline-end: clamp(
    calc(15 * var(--rem)),
    calc(15 * var(--fluid-ratio-min)),
    calc(18 * var(--rem))
  );
}

.c-section__title_ja {
  font-size: var(--font-size_20_24);
  letter-spacing: normal;
  color: var(--color-3);
  align-self: end;
  position: relative;
  display: grid;
  align-items: center;
  padding-inline-start: clamp(
    calc(15 * var(--rem)),
    calc(15 * var(--fluid-ratio-min)),
    calc(18 * var(--rem))
  );
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: var(--background-current);
    inset-inline-start: 0;
    block-size: calc(25 * 1em / 20);
    inline-size: 1px;
    rotate: 45deg;
  }
}

.c-section__subtitle {
  font-size: var(--font-size_24_32);
  letter-spacing: normal;
  font-weight: var(--base-font-weight);
}